[Unit]
Description=Sonarr Container Service
After=network-online.target

[Container]
Image=ghcr.io/hotio/sonarr:latest
ContainerName=sonarr
Environment=PUID=0
Environment=PGID=0
Environment=TZ=(your timezone)
Volume=/etc/localtime:/etc/localtime:ro
Volume=sonarr_config:/config:Z
Volume=(path to /data):/data:z
PublishPort=8989:8989
Network=arr

AutoUpdate=registry
Label=io.containers.autoupdate=registry

HealthCmd=curl -f http://localhost:8989 || exit 1

[Service]
Restart=always

[Install]
WantedBy=default.target
